# A Helpful Class to Interface With the Patient Data
Based off of Pandas Dataframes

In [3]:
from Patient import Patient

## Static Methods:
The Static Methods deal with database-wide searches, meaning they are functions that are not specific for a single patient.

### 1. fetch_mrns()
Return a list of all the mrns found in the database

In [4]:
Patient.fetch_mrns()

Error while connecting to PostgreSQL connection to server at "clinical_db" (172.19.0.2), port 5432 failed: FATAL:  no pg_hba.conf entry for host "172.19.0.5", user "jovyan", database "clinical", SSL off

AttributeError: 'db' object has no attribute 'cursor'

### 2. search_name
MRN Lookup by Name.  Case-insensitive

In [4]:
Patient.search_name()

        fname   lname
mrn
333333  John3  Smith3

In [5]:
#Can specify last name 
Patient.search_name(last_name = "Smith")

        fname   lname
mrn
333333  John3  Smith3

In [6]:
#Specify First Name 
Patient.search_name(first_name = "john")

        fname   lname
mrn
333333  John3  Smith3

In [7]:
#Or Both
Patient.search_name(first_name = "john", last_name = "doe")

Empty DataFrame
Columns: [fname, lname]
Index: []

### 3. search()
Lookup by tag.  Returns all data that matches a given tag.  CASE-SENSITIVE

In [8]:
Patient.search("diagnosis")

                                     value
111111  C61;Malignant_neoplasm_of_prostate

In [10]:
Patient.search("dob")

              date
333333  1965-10-18

## Object Interface
A simplistic way to retrieve the data for each patient

In [11]:
mrn = 333333
p = Patient(mrn)

#lists all the attributes related to the patient with mrn 333333
p.attributes

['last_name', 'dob', 'first_name', 'mrn']

In [12]:
#prints out all data relating to this patient
p

MRN: 333333

last_name:
Smith3

dob:
1965-10-18

first_name:
John3

mrn:
333333

## Pandas-like Indexing

In [13]:
#Two ways to index. This is the first way.
p.last_name

'Smith3'

In [14]:
#Second way to index
p["c61.psa"]

AttributeError: 'Patient' object has no attribute 'c61.psa'

In [15]:
#multi index.
fname, lname, dob = p["first_name", "last_name", "dob"]
print(fname)
print(lname)
print(dob)

John3
Smith3
1965-10-18

## Example Use Case: PSA time series

In [ ]:
p = Patient(111111)
p["c61.psa"]

In [ ]:
import matplotlib.pyplot as plt
fig,ax = plt.subplots()
fig.set_size_inches(10,8)
ax.tick_params(axis='x', labelrotation = 18)

df = p["c61.psa"]
df= df.sort_values(by = "date")
ax.plot(df["date"], df["psa"], marker = "D", linewidth = 2, markersize = 5)

## One Last Method(For Debugging)

In [ ]:
help(p.rawdata)
p.rawdata("c61.psa")